<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color:#8b008b">Miembros de la familia</h2>
    {% for member in lista %}
        <ul style="border: 2px solid #8b00b8; background-color: #f9f0f9; width: 300px; margin: 5px; border-radius: 5px;">
            <li>Nombre: {{member.name}}</li>
            <li>Apellido: {{member.last_name}}</li>
            <li>Email: {{member.email}}</li>
            <li>Cumpleaños: {{member.birthday}}</li>
            <li>Teléfono: {{member.phone_number}}</li>
        </ul>
    {% endfor %}
</body>
</html>