<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="color:darkmagenta">Miembros de la familia</h2>
    {% for member in list %}
        <p>Nombre: {{name}} <br> Apellido: {{last_name}} <br> Email: {{email}} <br> Email: {{email}}
        <br> Cumpleaños: {{birthday}} <br> Teléfono: {{phone_number}} </p>
    {% end for %}
</body>
</html>